<div id="tab-mc-test" class="tab-pane fade">
    <div id="mctest-alert-frame"></div>
    <h4>Cấu hình</h4>
    <div class="form-horizontal">
        <div class="form-group">
            <label class="control-label col-md-3">Sử dụng phần thi</label>
            <div class="col-md-9">
                <input type="checkbox" id="use-mctest" {% if contest.use_mc_test %}checked{% endif %}>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3" for="contest-name">Số câu hỏi</label>
            <div class="col-md-9">
                <div class="form-inline">
                    <input type="number" class="form-control" min="0" value="{{ contest.mc_questions }}" id="mctest-questions">
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-3 col-md-9">
                <button type="button" class="btn btn-success" id="btn-update-mctest">Cập nhật</button>
            </div>
        </div>
    </div>
    <hr>
    <h4>Danh sách câu hỏi</h4>
    <div class="form-group">
        <button class="btn btn-default" title="Cập nhật danh sách câu hỏi" data-toggle="modal" data-target="#modal-upload-mc-questions"><i class="glyphicon glyphicon-upload"></i></button>
    </div>
    <div class="panel-group" id="mc-questions">
    </div>
</div>
{% include 'contests/modal_upload_mc_questions.html' %}
