{% extends 'contests/layout.html' %}

{% load staticfiles %}

{% block styles %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.45/css/bootstrap-datetimepicker.min.css">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.2/summernote.css">
{% endblock styles %}

{% block child_content %}
<div class="row">
    <div class="col-lg-12">
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#tab-settings">Cập nhật thông tin</a></li>
            <li><a data-toggle="tab" href="#tab-contestants">Danh sách tham gia</a></li>
        </ul>
        <div class="tab-content">
            {% include 'contest/admin_tab_settings.html' %}
            {% include 'contest/admin_tab_contestants.html' %}
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.45/js/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.2/summernote.min.js"></script>

<script type="text/javascript" src="{%  static 'scripts/contest-settings.js' %}"></script>
{% endblock %}
