{% extends 'layout.html' %}

{% load staticfiles %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.45/css/bootstrap-datetimepicker.min.css">
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Quản lý các cuộc thi</h1>
        <div class="form-group">
            <button type="button" class="btn btn-default" data-toggle="modal" data-target="#modal-create-contest"><i class="glyphicon glyphicon-plus"></i></button>
        </div>
        <ul class="list-group" id="contests">
        </ul>
    </div>
</div>
{% include 'contests/modal_create_contest.html' %}
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.45/js/bootstrap-datetimepicker.min.js"></script>

<script type="text/javascript">
var contestsApiUrl = '{% url 'contests:contests' %}';
var contestAdminUrl = '{% url 'webapp:contest_admin' %}';
var createApiUrl = '{% url 'contests:create' %}';
</script>

<script type="text/javascript" src="{% static 'scripts/contests-management.js' %}"></script>
{% endblock %}
