<div id="tab-oveview" class="tab-pane fade in active">
    <div class="form-horizontal">
        <div class="form-group">
            <label class="control-label col-md-2" for="contest-name">Tên hoạt động</label>
            <div class="col-md-10">
                <input type="text" class="form-control" id="contest-name">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Thời gian tổ chức</label>
            <div class="col-md-10">
                <div class="form-inline">
                    <div class="input-group date" id="datetimepicker1">
                        <input type="text" class="form-control" placeholder="Từ" />
                        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                    </div>
                    <div class="input-group date" id="datetimepicker2">
                        <input type="text" class="form-control" placeholder="Đến" />
                        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2" for="pwd">Mô tả ngắn</label>
            <div class="col-md-10">
                <textarea class="form-control" id="contest-short-desc"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2" for="pwd">Mô tả chi tiết</label>
            <div class="col-md-10">
                <textarea class="form-control" id="contest-desc"></textarea>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" class="btn btn-success">Cập nhật</button>
            </div>
        </div>
    </div>
</div>
