<div class="form-group form-inline paginator">
    <div class="btn-group">
        <a href="#" title="Trang đầu" class="btn btn-default btn-go-first-page"><i class="glyphicon glyphicon-backward"></i></a>
        <a href="#" title="Trang trước" class="btn btn-default btn-go-previous-page"><i class="glyphicon glyphicon-triangle-left"></i></a>
    </div>
    <select class="form-control input-inline page-selector">
    </select>
    <div class="btn-group">
        <a href="#" title="Trang tiếp theo" class="btn btn-default btn-go-next-page"><i class="glyphicon glyphicon-triangle-right"></i></a>
        <a href="#" title="Trang cuối" class="btn btn-default btn-go-last-page"><i class="glyphicon glyphicon-forward"></i></a>
    </div>
</div>
