{% extends 'layout.html' %}

{% load staticfiles %}

{% block title %}Đổi mật khẩu{% endblock %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'styles/change-password.css' %}">
{% endblock %}

{% block content %}
<div class="change-password-frame">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="form-group">
                <label>Mật khẩu cũ</label>
                <input type="password" class="form-control" id="old-password" />
            </div>
            <div class="form-group">
                <label>Mật khẩu mới</label>
                <input type="password" class="form-control" id="'new-password1" />
            </div>
            <div class="form-group">
                <label>Xác nhật khẩu mới</label>
                <input type="password" class="form-control" id="'new-password2" />
            </div>
            <div class="form-group" id="message-form" style="display: none">
                <div class="text-danger" id="message"></div>
            </div>
            <button type="button" class="btn btn-success btn-change" id="btn-change">Đăng nhập</button>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
	var changePasswordUrl = '{% url 'users:change_password' %}';
</script>
<script type="text/javascript" src="{% static 'scripts/change-password.js' %}"></script>
{% endblock %}